body			{ font-family: times new roman,sans-serif; background-color: #fafafa; color: #000000; font-size: 12pt; }
blockquote		{ font-family: times new roman,sans-serif; color: #000000; font-size: 10pt; }
b				{ font-family: times,new roman,sans-serif; color: #000000; font-weight: bold; font-style: normal; font-size: 12pt; }
h1				{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 16pt; }
DIV.tooltip		{ font-family: arial,helvetica,sans-serif; position: absolute; left:0pt; visibility: hidden; background-color: #ffeeee; border-style: solid; border-color: #ee0000; border-width: 2px; width: 250px; text-align: left}
TD.tooltip		{ color: #f5e9b7; font-size: 8pt; font-weight: normal; font-style: normal; }

a { font-family: arial,helvetica,sans-serif; color: #000000; text-decoration: none }

a:link		{ font-family: arial,helvetica,sans-serif; color: #440000; text-decoration: none }
a:visited 		{ font-family: arial,helvetica,sans-serif; color: #000000; text-decoration: none }
a:hover		{ font-family: arial,helvetica,sans-serif; color: #aa0000; text-decoration: none }
a:active 		{ font-family: arial,helvetica,sans-serif; color: #ff0000; text-decoration: none }
